body {
    margin: 0;
    padding: 0;
    display: flex;
    font-family: 'Montserrat', sans-serif;
}

h3 {
    margin-top: 1.2vw;
    margin-bottom: 1.2vw;
}

.cursor {
    cursor: pointer;
}

.flex {
    display: flex;
}

/* sidebar */

.sidebar {
    position: fixed;
    padding-left: 2vw;
    padding-right: 1vw;
    width: 18vw;
    height: 100vh;
    border-right: 1px solid lightgray;
    box-sizing: border-box;
}

.logo {
    height: 10vh;
    width: 13vw;
}

.list {
    margin-right: 2vw;
    font-size: 14px;
}

.list_item {
    display: flex;
    justify-content: space-between;
    margin-top: 0;
    max-height: 4vh;
    cursor: pointer;
    margin-bottom: 1vw;
}

.main {
    padding-left: 18vw;
    width: 81.5%;
}

/* header */

.top_header {
    display: flex;
    justify-content: space-between;
    margin: 1vh 2vw 1vh 2vw;
    border-bottom: 1px solid lightgray;
    color: gray;
}

.navbar_item {
    margin-top: 0;
    margin-right: 1.5vw;
    cursor: pointer;
}

.navbar_item:hover {
    color: black;
}

.bottom_header {
    display: flex;
    justify-content: space-between;
    padding: 1vh 2vw 2vh 2vw;
    border-bottom: 1px solid lightgray;
}

.input {
    width: 70%;
    height: 40px;
    margin-top: 2vh;
    border-radius: 4px;
    border: 1px solid lightgray;
    padding-left: 1vw;
    background-color: #ececec;
}

.flex_phone {
    max-height: 38px;
    display: flex;
}

.phone {
    font-weight: 600;
    margin-bottom: 0.5vh;
    cursor: pointer;
}

.call {
    margin-top: 0;
    color: #ffb400;
    cursor: pointer;
}

/* banner content */

.content {
    margin-left: 2vw;
    margin-top: 3vh;
    height: 60vh;
}

.block_main {
    display: flex;
}

.back {
    position: absolute;
    z-index: 1;
    height: 60vh;
    width: 59vw;
}

.block_main_photo {
    height: 60vh;
    width: 59vw;
}

.main_photo {
    height: 60vh;
}


.column_photo {
    display: flex;
    flex-direction: column;
}

.content_photo {
    position: absolute;
    z-index: 10;
    display: flex;
    width: 59vw;
}

.small_photo {
    position: absolute;
}

.text_catalog {
    color: white;
    display: flex;
    flex-direction: column;
    margin-left: 4vw;
    justify-content: center;

}

.title {
    color: #fff;
    opacity: .5;
    margin: 0 0 1vw 0.1vw;
    font-size: 1vw;
}

.head_title {
    color: #fff;
    font-size: 2.4vw;
    font-weight: 500;
}

.banner_text {
    margin-top: 1.5vw;
    margin-bottom: 1.5vw;
    font-size: 1vw;
}

.button_catalog {
    background-color: #ffb400;
    color: #ffffff;
    padding: 16px 26px 16px;
    font-size: 0.8vw;
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: none;
    border: 1px solid #ffb400;
    border-radius: 3px;
    width: 13vw;
}

.text_top,
.text_bottom {
    position: absolute;
    z-index: 10;
}

.one_photo {
    padding: 0 1vw 1vw 1vw;
}

.one_photo,
.small_photo {
    height: 29vh;
    width: 16vw;
}

.text_bottom {
    display: flex;
    width: 15vw;
    flex-direction: column;
    padding: 1.867vw 1.867vw 1.4vw .5vw;
    margin-top: 15vh;
}

.tizer {
    font-weight: 500;
    font-size: 1vw;
    color: white;
}

.about {
    display: flex;
    justify-content: center;
    padding: 5vh 0 5vh 2vw;
    background-color: #f9f9fa;
    border-bottom: 1px solid lightgray;
}

.block_about {
    width: 18.400vw;
}

.title_about {
    font-weight: 500;
    font-size: 1.0667em;
    line-height: 1.5625em;
    margin: 1vh 0 1vh 0;
}

.subtitle_about {
    font-size: .867em;
    line-height: 1.692em;
    color: #777;
}


/* carousel */

.carousel {
    background-color: #f9f9fa;
    padding-left: 2vw;
    padding-top: 6vh;
    border-bottom: 1px solid lightgrey;
}

.title_carousel {
    font-weight: 500;
}

.owl-carousel {
    filter: grayscale(1);
}

.owl-item {
    padding-top: 3vh;
    padding-bottom: 5vh;
}


/* text content */
.main_text_block {
    display: flex;
}

.text_title {
    padding: 5vw 1vw 0 2vw;
    width: 17vw;
}

.button_more {
    background-color: white;
    border: #ffb400 1px solid;
    padding: 0.5vw 1vw;
    border-radius: 4px;
}

.button_more:hover {
    background-color: #ffb400;
}

.about_shop {
    font-size: .667em;
    line-height: 1.3em;
    color: #999;
}

.title_shop {
    margin-top: 16px;
}

.text_content {
    width: 75%;
    margin-right: 2vw;
}

.usual_text {
    color: #777;
    font-size: 14px;
    line-height: 2;
}

.about:last-child {
    background-color: white;
    padding-left: 0;
    justify-content: flex-start;
}


/* footer */

.footer {
    background: #333;
    padding: 3.933vw 0 2.267vw 0;
    border-bottom: 1px solid lightgrey;
}

.footer_top {
    display: flex;
    color: #777;
    justify-content: space-between;
    padding: 0 2vw 9vh 2vw;
    border-bottom: 1px solid grey;
}


.footer_top h3 {
    color: black;
}

.footer_top p {
    cursor: pointer;
}

.footer_top p:hover {
    color: black;
}

.column {
    width: 25%;
}

.column:first-child {
    margin-right: 3vw;
}

.column:last-child {
    margin-top: 1vw;
    padding-top: 2.6vw;
}

.third_column {
    padding-top: 2.6vw;
}

.last_columnin {
    margin-bottom: 5vh;
}

.last {
    margin-left: 0.5vw;
}

.footer_bottom {
    padding-top: 5vh;
    padding-left: 2vw;
}


@media (max-width: 1500px) {

    .main_photo,
    .back {
        height: 55vh;
    }

    .small_photo,
    .one_photo {
        height: 26.5vh;
    }

    .text_bottom {
        margin-top: 12vh;
    }
}

@media (max-width: 1290px) {

    .main_photo,
    .back {
        height: 45vh;
    }

    .small_photo,
    .one_photo {
        height: 22vh;
    }

    .block_main_photo,
    .content {
        height: 50vh;
    }

    .button_catalog {
        padding: 12px 20px 12px;
    }

}

@media (max-width: 1200px) {
    .footer_top {
        font-size: 1.2vw;
    }
}



@media (max-width: 1080px) {

    .main_photo,
    .back {
        height: 40vh;
    }

    .small_photo,
    .one_photo {
        height: 19.5vh;
    }

    .block_main_photo,
    .content {
        height: 45vh;
    }

}

@media (max-width: 986px) {

    .main_photo,
    .back {
        height: 35vh;
    }

    .small_photo,
    .one_photo {
        height: 17vh;
    }

    .text_bottom {
        margin-top: 10vh;
    }

    .block_main_photo,
    .content {
        height: 38vh;
    }

    .last_columnin {
        margin-bottom: 3vh;
    }

    .footer_top p {
        margin-bottom: 2vh;
    }
}


@media (max-width: 900px) {

    .main_photo,
    .back {
        height: 27vh;
    }

    .small_photo,
    .one_photo {
        height: 13.2vh;
    }

    .block_main_photo,
    .content {
        height: 30vh;
    }

    .text_bottom {
        margin-top: 7vh;
    }

    .button_catalog {
        padding: 0.5vw 0.7vw 0.5vw;
    }

    .title_about {
        font-size: 1.7vw;
    }

    .block_about {
        width: 16vw;
        margin-right: 1vw;
        justify-content: flex-start;
        margin-left: 2vw;
    }
}

@media (max-width: 845px) {
    .block_about {
        width: auto;
        margin-right: 1vw;
    }

    .title_shop {
        font-size: 2vw;
        padding-right: 2vw;
    }

    .input {
        width: 55%;
    }

    .list {
        font-size: 10px;
    }
}

@media (max-width: 750px) {
    .navbar_item {
        font-size: 2vw;
    }
}

@media (max-width: 700px) {
    .sidebar {
        display: none;
    }

    .main {
        padding-left: 0;
        width: 100%;
    }

    .block_main {
        justify-content: space-between;
        margin-right: 2vw;
    }

    .content_photo {
        width: 68vw;
    }

    .main_photo,
    .back {
        width: 68vw;
        height: 26vh;
    }

    .block_main_photo,
    .content {
        height: 26vh;
    }

    .small_photo,
    .one_photo {
        height: 12.7vh;
        width: 23vw;
    }

    .text_bottom {
        margin-top: 7vh;
        margin-left: 1vw;
        font-size: 1.2vw;
    }
}

@media (max-width: 500px) {
    .block_main {
        display: block;
    }

    .banner_text {
        font-size: 2vw;
        line-height: 3.2vw;
        margin: 3vw 0 3vw
    }

    .head_title,
    .call,
    .phone,
    .title_about,
    .subtitle_about,
    .about_shop,
    .title_shop,
    .column {
        font-size: 3vw;
    }

    .text_catalog,
    .title,
    .tizer {
        font-size: 2vw;
    }

    .block_main_photo,
    .content_photo,
    .back {
        width: 95%;
    }

    .button_catalog {
        padding: 1vw 2vw 1vw;
        width: 22vw;
        font-size: 1.5vw;
    }

    .input {
        width: 45%;
        height: 30px;
    }

    .bottom_header {
        padding: 0.6vh 2vw 1vh 2vw;
    }

    .flex_phone {
        align-items: baseline;
    }

    .one_photo,
    .small_photo {
        height: 18.2vh;
        width: 46.3vw;
        padding: 1vw 0 0 0;

    }

    .column_photo {
        flex-direction: row;
    }

    .one_photo:first-child {
        margin-right: 2.3vw;
    }

    .text_bottom {
        margin-top: 13vh;
        width: 46vw;
    }

    .content {
        height: 46vh;
    }

    .about {
        flex-direction: column;
        align-items: center;
    }

    .block_about {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 2vh;
    }

    .main_text_block {
        flex-direction: column;
        align-items: center;
    }

    .text_title{
        width: 100%;
        text-align: center;
    }
    .title_shop {
        margin-bottom: 2vh;
    }
    .footer_bottom p {
        font-size: 3vw;
    }
    .column p{
        display: none;
    }

    .footer_top {
        flex-direction: column;
        padding-top: 7vh;
    }
  .column h3 {
    color: #777;
  }
.column:not(:last-child) {
    padding-left: 37%;
    text-align: center;
}
    .column:last-child {
        width: auto;
    }
    .last_columnin {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}